/* Responsive Adjustments */
@media (max-width: 768px) {
    .btn-primary {
        padding: var(--padding-half); /* Custom padding for button */
        font-size: 0.9rem; /* Slightly reduce font size for smaller screens */
    }
}

/* Base Button Styles */
.btn-primary {
    background-color: var(--color-primary); /* Custom red color */
    color: var(--color-primary-light); /* White text */
    border: none; /* No border */
    width: 100%;
    padding: var(--padding-half); /* Custom padding for button */
    border-radius: var(--corner-round-size); /* Rounded corners */
    font-weight: var(--font-bold); /* Font*/
    text-transform: uppercase;
    margin-top: 25px;
    transition: background-color 0.5s ease, transform 0.4s ease; /* Smooth transitions for background color and scale */
    /* Removed fixed positioning */
    display: inline-block; /* Ensures the button's size adjusts based on content */
}

/* Button Hover State */
.btn-primary:hover {
    background-color: var(--color-primary-dark); /* Darker red on hover */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

/* Button Focus State */
.level-btn.btn-primary:focus {
    background-color: var(--color-primary-dark); /* Darker color when focused */
    outline: none; /* Removes the default focus outline */
    box-shadow: none; /* Removes any additional shadow effects */
}
/* -----------------subscriber button Start------------------- */
.btn-white {
    border: 2px solid var(--color-secondary-light);
    color: var(--color-white); /* Ensures the text color is white */
    background-color: transparent; /* Ensure the button has no background color */
    padding: var(--padding-half) var(--padding-primary);
}

.btn-white:hover {
    background-color: var(--color-secondary-light);
    color: var(--color-white);
}

.btn-white:focus {
    outline: none;
    box-shadow: none;
}

/* -----------------subscriber button End------------------- */
