/* Contact Start */
/* Style for textarea */
textarea.form-control {
    padding: 12px 40px; /* Padding inside the textarea */
    resize: vertical; /* Allows vertical resizing only */
}
/* Style for icon inside the form group */
.form-group i.fa-commenting {
    position: absolute; /* Absolute positioning for the icon */
    top: 20px; /* Align icon close to the top of the textarea */
    left: 0px; /* Space from the left edge */
}
/* Contact End */