@media (min-width: 768px) {
    /* The styles inside this block will only apply when the screen width is 768px or wider.
       This is useful for making your design responsive to different screen sizes. */
    .navbar {
        height: var(--highet-primary); /* Set the navbar height using a custom CSS variable */
    }
    /* We added level-nav-link to override the default Bootstrap styles 
       in the project and apply custom styles */
    .navbar .level-nav-link.nav-link {
        transition: background-color 0.2s ease, color 0.5s ease; /* Smooth transition for background and text color */
        padding: var(--padding-primary) var(--padding-primary); /* Uniform padding for the navbar links */
    }
    .navbar .level-nav-link.nav-link:hover {
        background-color: var(--color-primary); /* Change background color on hover */
        color: #fff; /* Change text color to white on hover for better contrast */
    }
}

.navbar .level-nav-link.nav-link {
    /* Adds smooth transition for background color, text color, and transform changes */
    transition: background-color 0.2s ease, color 0.5s ease, transform 0.2s ease;
    
    /* Adds padding to the right of the navbar link */
    padding-right: var(--padding-primary); 
    
    /* Adds padding to the left of the navbar link */
    padding-left: var(--padding-primary); 
    
    /* Positions the element relative to its normal position, required for pseudo-elements to work correctly */
    position: relative;
}

.navbar .level-nav-link.nav-link:hover,
.navbar .level-nav-link.nav-link:focus {
    /* Darker background to simulate the button being pressed */
    background: linear-gradient(to bottom, var(--color-primary-dark), var(--color-primary));
    
    /* Lift the link upwards slightly for a 3D hover effect */
    transform: translateY(-2px); 
    
    /* Enhanced outer shadow for a lifted effect */
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1), /* Inner shadow */
                0 6px 8px rgba(0, 0, 0, 0.3); /* Enhanced outer shadow */
    
    /* Text color change for better contrast */
    color: #fff;
    border-radius: 3px;
}
.navbar .level-nav-link.nav-link::before {
    /* Creates a pseudo-element before the link content */
    content: ''; 
    
    /* Positions the pseudo-element absolutely within the relative-positioned link */
    position: absolute; 
    
    /* Aligns the pseudo-element to the left of the link */
    left: 0; 
    
    /* Positions the pseudo-element at the bottom of the link */
    bottom: 0; 
    
    /* Sets the height of the pseudo-element (e.g., the underline) */
    height: 2px; 
    
    /* Sets the width of the pseudo-element to the full width of the link */
    width: 100%; 
    
    /* Sets the color of the pseudo-element (e.g., the underline) */
    
    background-color: #fff; 
    
    /* Initially scales the pseudo-element to 0 (hidden) */
    transform: scaleX(0); 
    
    /* Sets the origin of the scaling transformation to the right side of the element */
    transform-origin: right; 
    
    /* Adds a smooth transition effect for the scaling of the pseudo-element */
    transition: transform 0.3s ease;
}

.navbar .level-nav-link.nav-link:hover::before,
.navbar .level-nav-link.nav-link:focus::before {
    /* Scales the pseudo-element to its full width when the link is hovered over or focused */
    transform: scaleX(1); 
    
    /* Changes the scaling origin to the left side for a smooth expansion effect */
    transform-origin: left;
} 
/* **********LOGO text********* */
.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-brand h1{
    margin: 0;
}
/*Navigating*/
html{
    scroll-behavior: smooth;
    scroll-padding: 0 0;
}