section {
    font-size: 0.8rem;
    padding: var(--padding-double) var(--padding-none);
}

.section-color {
    background-color: var(--color-primary);
    color: var(--color-secondary-dark);
}

.section-title{
    font-size: var(--font-size-section-title);
}

.section-subtitle {
    font-size: var(--font-size-title);
}

