:root {
    /* COLORS Start*/
    --color-primary: #d20031;
    --color-secondary: #111;
    --color-text: #898989;
    /* COLORS End*/

    /* FONTS Start*/
    --font-primary: "Open Sans", "Helvetica Neue", "Arial", "sans-serif";
    --font-bold: 700;
    --font-light: 400;
    --font-size-text: 13px; /* Removed quotes */
    --font-size-title: 20px; /* Removed quotes */
    --font-size-section-title: 48px; /* Removed quotes */
    /* FONTS End*/

    /* SIZE Start*/
    --size-primary: 25px;
    --margin-primary: var(--size-primary);
    --padding-primary: var(--size-primary);
    --padding-double: calc(var(--size-primary) * 2);
    --padding-half: calc(var(--size-primary) / 2);
    /* SIZE End*/

    /* NAVBAR Start*/
    --height-primary: 90px; /* Corrected variable name */
    /* NAVBAR End*/

    /*breakpoint Start*/
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    /*breakpoint End*/
}
