/* Dark mode variables */
@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #d20031; /* Primary color remains the same */
        --color-dark: #1a1a1a; /* Darker background for better contrast */
        --color-white: #cccccc; /* Lighter text color for dark mode */
        --color-text: #b0b0b0; /* Lighter text color */
        --color-secondary-light: #6d6d6d; /* Slightly darker gray for borders */
        --color-primary-dark: #90001a; /* Darker shade for hover remains the same */
    }
}
:root {
    /* COLORS Start */
    --color-primary: #d20031; /* Primary color */
    --color-dark: #000000; /* Dark background */
    --color-white: #ffffff; /* White text */
    --color-text: #898989; /* Text color */
    --color-secondary-light: #939393; /* Light gray for borders */
    --color-primary-dark: #90001a; /* Darker primary color for hover */
    /* COLORS End */
    
    /* FONTS Start*/
    --font-primary: "Open Sans", "Helvetica Neue", "Arial", "sans-serif";
    --font-bold: 700;
    --font-light: 400;
    --font-size-text: 13px; /* Removed quotes */
    --font-size-title: 20px; /* Removed quotes */
    --font-size-section-title: 48px; /* Removed quotes */
    /* FONTS End*/

    /* SIZE Start*/
    --size-primary: 25px;
    --size-double: calc(var(--size-primary) * 2);
    --corner-round-size: 4px;
    --margin-primary: var(--size-primary);
    --padding-primary: var(--size-primary);
    --padding-double: calc(var(--size-primary) * 2);
    --padding-half: calc(var(--size-primary) / 2);
    --padding-none: 0px;
    /* SIZE End*/

    /* NAVBAR Start*/
    --height-primary: 90px; /* Corrected variable name */
    /* NAVBAR End*/

    /*breakpoint Start*/
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    /*breakpoint End*/

}